@import url('https://fonts.googleapis.com/css?family=Roboto');

.logoIntroAppBar {
    max-width: 3em;
}

.introductionText {
    color: #FC8F72;
    text-align: center;
    font-size: 3.5vw;
    margin-top: 1em;
    margin-bottom: 2em;
    font-family: 'Roboto', sans-serif;
}

.imgLogoIntro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13em;

}

.teamNames {
    color: #FC8F72;
    text-align: center;
    font-size: 1.5vw;
    margin-top: 11em;
}