
/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.iconCalendar {/*le logo + les petites flèches pour changer les mois*/
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {/*toutes les case de la page*/
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--bg-color);
    position: relative;
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

header #logo {/*toute la ligne logo + reactcalendar*/
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .iconCalendar {/*le petit logo calendrier*/
  padding-right: .25em;
}

main {/*tout le calendrier*/
  display: block;
  margin: 0 auto; /*à la base c'était margin: 0 auto -- margin-left:15em*/
  margin-top: 1em;
  max-width: 80em;/*la largeur des cases*/
}


/* GRID */

.row {/*toutes les colonnes, incluant le mois et les jours*/
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {/*toutes les colonnes, incluant le mois et les jours*/
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {/*l'espace à gauche du mois*/
  justify-content: flex-start;
  text-align: left;
}

.col-center {/*l'endroit du mois et les noms des jours*/
  justify-content: center;
  text-align: center;
}

.col-end {/*l'espace à droite du mois*/
  justify-content: flex-end;
  text-align: right;
}


/* Calendar */

.calendar {/*tout le calendrier incluant le mois*/
  display: block;
  width: 100%; /*en mettant 170% il s'élragit mais n'ets plu centré*/
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
  margin-bottom: 2em;
}

.calendar .header {/*le rectangle du mois jusqu'aux flèches*/
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .iconCalendar {/*les flèches pour défiler les mois*/
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .iconCalendar:hover { /*le hover sur les fléches pour faire défiler les mois*/
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .iconCalendar:first-of-type {/*les flèches pour faire défiler les mois*/
  margin-left: 1em;
}

.calendar .header .iconCalendar:last-of-type {/*les flèches pour faire défiler les mois*/
  margin-right: 1em;
}

.calendar .days { /*les jours de la semaine affichés au dessus du calendrier*/
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell { /*les cases du calendrier*/
  position: relative;
  height: 10em;/*la hauteur des cases*/
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {/*le hover sur une case du calendrier*/
  background: var(--bg-color);
  transition: 0.54s ease-out;
}

.calendar .body .selected {/*la case du calendrier sélectionné*/
  border-left: 10px solid transparent;/*épaisseur de la bordure de gauche*/
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
}

.calendar .body .row { /*chaque ligne du calendrier*/
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {/*la dernière ligne du calendrier*/
  border-bottom: none;
}

.calendar .body .cell:last-child {/*la dernière colonne du calendrier*/
  border-right: none;
}

.calendar .body .cell .number {/*la case du petit chiffre de la date dans une case du calendrier*/
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.calendar .body .disabled {/*les cases du mois précédent qui sont donc désactivées*/
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {/*la case qui entoure le chiffre qui apparait lors du hover sur une date*/
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 10em;
  position: absolute;
  top: 0em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;

}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {/*le hover qui fait apparaitre la date au hover sur la date*/
  opacity: 0.2; /*(initialement 0.015, pour le hover du chiffre de la date)*/
  transition: 1s ease-out;
}

.calendar .body .col {/*toutes les cases du calendrier*/
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}